@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    /* background:url(https://i.pinimg.com/originals/00/05/2b/00052b33a4dd252fde78719aadb8e88a.gif) no-repeat center;
    background-size: cover; */
}

nav{
    background-color: #FBBF24;
    padding: 10px;
}

.navTitle{
    background-color: #FCD34D;
    padding: 20px;
    font-size: larger;
    font-family: 'Press Start 2P', cursive;

}

.mainDiv{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url(https://i.pinimg.com/originals/08/aa/0f/08aa0f4c71c98e46d5cb12f4a2acfdcb.png) no-repeat center;
    background-size: cover;
}

.inputDiv{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.14936396922050066) 0%);
    border: 2px solid black;
    width: 40%;
    height: 20vh;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
    box-shadow: 0px 3px 12px 5px azure;
    font-family:cursive;
}

::placeholder {         
    color: white;   /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1;       /* Firefox */
}

button{
    padding:15px ;
    margin: 10px;
    background-color: #FCD34D;
    font-size: larger;
    border: none;
    border-radius: 10px;
    box-shadow:4px 4px 9px black;

}

.outputDiv{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(0 0 0 / 89%) 0%);
    border: 2px solid black;
    width: 40%;
    height: 20vh;
    margin: 10px;
    color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    overflow: hidden;
    box-shadow: 0px 3px 12px 5px azure;
    
}

.bold{
    font-weight: bolder;
}

footer{
    padding: 20px;
    background-color: #FBBF24;
    text-align: center;
    margin-bottom: 0;
}